#com-limitlost-limiter-panel {
    flex-grow: 1 !important;
    margin   : 0 !important;
    padding  : 0 !important;
    border   : 0 !important;

    overflow                  : hidden !important;
    min-height                : calc(2 * var(--com-limitlost-limiter-font-size)) !important;
    min-width                 : calc(3 * var(--com-limitlost-limiter-font-size)) !important;
    border-radius             : calc(0.5 * var(--com-limitlost-limiter-font-size)) !important;
    border-bottom-right-radius: 0 !important;
}

#com-limitlost-limiter-panel-container {
    position: fixed !important;
    left    : 10% !important;
    top     : 10% !important;
    z-index : 2147483647 !important;

    border: 1px solid black !important;

    display : flex !important;
    margin  : 0 !important;
    padding : 0 !important;
    resize  : horizontal !important;
    overflow: hidden !important;

    min-height: calc(2 * var(--com-limitlost-limiter-font-size)) !important;
    min-width : calc(3 * var(--com-limitlost-limiter-font-size)) !important;

    border-radius             : calc(0.5 * var(--com-limitlost-limiter-font-size)) !important;
    border-bottom-right-radius: 0 !important;

    opacity: 0 !important;
}

#com-limitlost-limiter-panel-container.com-limitlost-limiter-animated {
    transition: opacity 0.2s !important;
}

#com-limitlost-limiter-panel-container.com-limitlost-limiter-animated.com-limitlost-limiter-transition {
    transition: width 0.2s, height 0.2s !important;
}

#com-limitlost-limiter-break-panel {
    position: fixed !important;
    left    : 0 !important;
    top     : 0 !important;
    z-index : 2147483646 !important;
    width   : 100dvw !important;
    height  : 100dvh !important;

    margin          : 0 !important;
    padding         : 0 !important;
    border-radius   : 0 !important;
    border          : none !important;
    outline         : none !important;
    background-color: transparent !important;
    background      : transparent !important;

    opacity: 0 !important;

}

#com-limitlost-limiter-break-panel.com-limitlost-limiter-animated {
    transition: opacity 0.2s !important;
}