/* #region General Styling */

html,
body {
    background-color: transparent;
    padding         : 0;
    margin          : 0;
    width           : 100%;
    height          : 100%;
}

html {
    background-color: hwb(0 90% 10% / var(--background-opacity));
    color           : black;
    overflow        : hidden;
}

html.dark-mode {
    background-color: hwb(0 10% 90% / var(--background-opacity));
    color           : white;
}

.no-animations * {
    transition: none !important;
}

body {
    display       : flex;
    flex-direction: column;
}

.padding-B-02 {
    padding-bottom: 0.2rem;
}

.padding-B-05 {
    padding-bottom: 0.5rem;
}

.padding-L-05 {
    padding-left: 0.5rem;
}

.margin-B-025 {
    margin-bottom: 0.25rem;
}

.margin-B-05 {
    margin-bottom: 0.5rem;
}

.full-width {
    width: 100%;
}

.space-evenly {
    justify-content: space-evenly;
}

.row {
    display       : flex;
    flex-direction: row;
}

/* #endregion */

/* #region Table Styling */
#panel td {
    font-family: monospace;
}

/* #endregion */

/* #region Button Styling */

#content button {
    background-color: hwb(0 88% 12%);
    border          : none;
    border-radius   : 0.5rem;
    padding         : 0.5rem;
    text-decoration : none;
    color           : black;
    box-shadow      : 2px 6px 11px 0px rgb(73, 73, 73);
    font-size       : 0.9rem;
    transition      : background-color 0.2s, box-shadow 0.2s, color 0.2s;
}

.dark-mode #content button {
    background-color: hwb(0 12% 88%);
    color           : white;
    box-shadow      : 2px 6px 11px 0px hwb(0 31.8% 68.2%);
}

#content button:hover {
    background-color: hwb(0 84% 16%);
}

.dark-mode #content button:hover {
    background-color: hwb(0 16% 84%);
}

#content button:active {
    background-color: hwb(0 80% 20%);
}

.dark-mode #content button:active {
    background-color: hwb(0 20% 80%);
}

#content button.save-needed {
    background-color: hwb(44 0% 12%);
    color           : black;
    box-shadow      : 2px 6px 11px 0px hwb(43 4% 71%);
}

.dark-mode #content button.save-needed {
    box-shadow: 2px 6px 11px 0px hwb(41.2 0% 41.2%);
}

#content button.save-needed:hover {
    background-color: hwb(44 0% 16%);
}

#content button.save-needed:active {
    background-color: hwb(44 0% 20%);
}

/* #endregion */

/* #region Checkbox Styling */
.checkbox-row {
    display       : flex;
    flex-direction: row;
    gap           : 0.5rem;
    align-items   : center;
}

.checkbox-row input {
    display: none;
}

.fake-checkbox {
    position        : relative;
    min-width       : 1rem;
    width           : 1rem;
    height          : 1rem;
    min-height      : 1rem;
    border-radius   : 0.5rem;
    background-color: hwb(0 88% 12%);
    display         : flex;
    align-content   : center;
    justify-content : center;
    padding         : 0.3rem;
    box-shadow      : 2px 2px 10px 0px rgb(73, 73, 73);
    overflow        : hidden;
}

.dark-mode .fake-checkbox {
    background-color: hwb(0 12% 88%);
    box-shadow      : 2px 2px 10px 0px hwb(0 31.8% 68.2%);
}

.checkbox-row input:hover~.fake-checkbox {
    background-color: rgb(215, 215, 215);
}

.dark-mode .checkbox-row input:hover~.fake-checkbox {
    background-color: hwb(0 16% 84%);
}

.checkbox-row input:active~.fake-checkbox {
    background-color: rgb(205, 205, 205);
}

.dark-mode .checkbox-row input:active~.fake-checkbox {
    background-color: hwb(0 20% 80%);
}



.fake-checkbox:before {
    position   : absolute;
    content    : "x";
    display    : block;
    width      : fit-content;
    height     : fit-content;
    font-family: monospace;
    font-size  : 1.5rem;
    text-align : center;
    line-height: calc(100% - 0.7rem);
    color      : rgba(174, 174, 174, 0.439);
    font-weight: bold;
}

.dark-mode .fake-checkbox:before {
    color: hwb(0 32% 68% / 0.439);
}

.fake-checkbox .internal {
    display        : flex;
    align-items    : center;
    align-content  : center;
    justify-content: center;

    background-color: rgb(33, 33, 33);

    position: absolute;
    width   : 100%;
    height  : 100%;

    margin       : -0.3rem;
    border-radius: 0.5rem;

    opacity   : 0;
    transition: opacity 0.2s;
}

.dark-mode .fake-checkbox .internal {
    background-color: hwb(0 87% 13%);
}

.fake-checkbox .internal:after {

    content          : "";
    width            : 40%;
    height           : 60%;
    border           : solid white;
    border-width     : 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    transform        : rotate(45deg);
    margin-bottom    : 0.2rem;
    box-sizing       : border-box;
}

.dark-mode .fake-checkbox .internal:after {
    border      : solid black;
    border-width: 0 3px 3px 0;
}

.checkbox-row input:checked~.fake-checkbox .internal {
    opacity: 1;
}

.checkbox-row input:checked:hover~.fake-checkbox .internal {
    background-color: rgb(59, 59, 59);
}

.dark-mode .checkbox-row input:checked:hover~.fake-checkbox .internal {
    background-color: hwb(0 77% 23%);
}

.checkbox-row input:checked:active~.fake-checkbox .internal {
    background-color: rgb(73, 73, 73);
}

.dark-mode .checkbox-row input:checked:active~.fake-checkbox .internal {
    background-color: hwb(0 71% 29%);
}

/* #endregion */

/* #region Slider Styling */

input[type="range"] {
    border-radius   : 1rem;
    height          : 0.9rem;
    background-color: hwb(0 67.8% 32.2%);
}

.dark-mode input[type="range"] {
    background-color: hwb(0 32.2% 67.8%);

}

input[type="range"]::-moz-range-thumb {
    background-color: #e4e4e4;
    border-radius   : 2rem;
    height          : 1.5rem;
    width           : 1.5rem;
    outline         : 1px solid #bababa;
    border          : none;
}

.dark-mode input[type="range"]::-moz-range-thumb {
    background-color: hwb(0 27.8% 72.2%);
    outline         : 1px solid hwb(0 42% 58%);
}

input[type="range"]::-moz-range-thumb:hover {
    opacity: 0.75;
}

input[type="range"]::-moz-range-thumb:active {
    opacity: 0.5;
}

/* #endregion */

/* #region Number Input Styling */

input[type="number"] {
    appearance      : textfield;
    padding         : 0.5rem;
    border-radius   : 0.5rem;
    border          : none;
    background-color: hwb(0 88% 12%);
    color           : black;
    box-shadow      : 2px 6px 11px 0px rgb(73, 73, 73);
}

.dark-mode input[type="number"] {
    background-color: hwb(0 12% 88%);
    color           : white;
    box-shadow      : 2px 6px 11px 0px hwb(0 31.8% 68.2%);
}

/* #endregion */

/* #region Top Bar Styling */
#top-bar {
    width           : 100%;
    height          : 2rem;
    background-color: rgba(255, 255, 255, var(--background-opacity));
    display         : flex;
    justify-content : center;
    flex-direction  : row;
    box-sizing      : border-box;
}

.dark-mode #top-bar {
    background-color: rgba(0, 0, 0, var(--background-opacity));
}

#top-bar-button {
    height          : 100%;
    aspect-ratio    : 1/1;
    background-color: transparent;
    border          : none;
    padding         : 0.25rem;
    text-decoration : none;
}

#top-bar-button:hover {
    opacity: 0.7;
}

#top-bar-button:active {
    opacity: 0.5;
}

#top-bar-button svg {
    height      : 1.5rem;
    aspect-ratio: 1/1;
}

#top-bar-button svg path {
    height      : 100%;
    aspect-ratio: 1/1;
    color       : black;
    fill        : black;
    stroke      : black;
}

.dark-mode #top-bar-button svg path {
    color : white;
    fill  : white;
    stroke: white;
}

/* #endregion */

/* #region Content Styling */
#content {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    overflow      : scroll;
    overflow-x    : hidden;
    flex-grow     : 1;
    padding       : 0.5rem;
    box-sizing    : border-box;
}

#extended-content {
    display       : flex;
    flex-direction: column;
    box-sizing    : border-box;
    width         : calc(100% + 1rem);
    height        : 3rem;

    margin-top   : 0.5rem;
    margin-left  : -0.5rem;
    margin-right : -0.5rem;
    margin-bottom: -0.5rem;

    border-radius             : 0.5rem;
    border-bottom-right-radius: 0;

    flex-grow: 1;

    box-shadow: 0px 0px 10px 0px rgb(73, 73, 73);

    overflow: scroll;
}

.dark-mode #extended-content {
    box-shadow: 0px 0px 10px 0px hwb(0 31.8% 68.2%);
}

#extended-content-internal {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    width         : 100%;
    height        : fit-content;
    padding       : 0.5rem;
    box-sizing    : border-box;
    column-gap    : 0.5rem;
    row-gap       : 0.5rem;
}

#extended-content-internal>* {
    flex: 1;
}

#save-button,
#reset-page-time,
#reset-firefox-time {
    min-width: 50%;
}

.input-container {
    display       : flex;
    flex-direction: column;
    min-width     : 50%;
    gap           : 0.25rem;
}

#extended-advanced {
    min-width: 100%;
}

#extended-advanced-info {
    opacity     : 0.5;
    padding-left: 0.5rem;
}

/* #endregion */