/* #region General Styling */

html,
body {
    background-color: transparent;
    padding         : 0;
    margin          : 0;
    width           : 100%;
    height          : 100%;
}

html {
    color   : black;
    overflow: hidden;
}

body {
    display       : flex;
    flex-direction: column;
}

.padding-B-02 {
    padding-bottom: 0.2rem;
}

.padding-B-05 {
    padding-bottom: 0.5rem;
}

.padding-L-05 {
    padding-left: 0.5rem;
}

.margin-B-025 {
    margin-bottom: 0.25rem;
}

.margin-B-05 {
    margin-bottom: 0.5rem;
}

.full-width {
    width: 100%;
}

.space-evenly {
    justify-content: space-evenly;
}

.row {
    display       : flex;
    flex-direction: row;
}

/* #endregion */

/* #region Table Styling */
#panel td {
    font-family: monospace;
}

/* #endregion */

/* #region Button Styling */

#content button {
    background-color: rgba(225, 225, 225, 1);
    border          : none;
    border-radius   : 0.5rem;
    padding         : 0.5rem;
    text-decoration : none;
    color           : black;
    box-shadow      : 2px 6px 11px 0px rgb(73, 73, 73);
    font-size       : 0.9rem;
    transition      : background-color 0.2s, box-shadow 0.2s;
}

#content button:hover {
    background-color: rgba(215, 215, 215, 1);
}

#content button:active {
    background-color: rgba(205, 205, 205, 1);
}

/* #endregion */

/* #region Checkbox Styling */
.checkbox-row {
    display       : flex;
    flex-direction: row;
    gap           : 0.5rem;
    align-items   : center;
}

.checkbox-row input {
    display: none;
}

.fake-checkbox {
    position        : relative;
    width           : 1rem;
    height          : 1rem;
    border-radius   : 0.5rem;
    background-color: rgba(225, 225, 225, 1);
    display         : flex;
    align-content   : center;
    justify-content : center;
    padding         : 0.3rem;
    box-shadow      : 2px 2px 10px 0px rgb(73, 73, 73);
    overflow        : hidden;
}

.checkbox-row input:hover~.fake-checkbox {
    background-color: rgb(215, 215, 215);
}

.checkbox-row input:active~.fake-checkbox {
    background-color: rgb(205, 205, 205);
}



.fake-checkbox:before {
    position   : absolute;
    content    : "x";
    display    : block;
    width      : fit-content;
    height     : fit-content;
    font-family: monospace;
    font-size  : 1.5rem;
    text-align : center;
    line-height: calc(100% - 0.7rem);
    color      : #aeaeae;
}

.fake-checkbox .internal {
    display        : flex;
    align-items    : center;
    align-content  : center;
    justify-content: center;

    background-color: rgb(33, 33, 33);

    position: absolute;
    width   : 100%;
    height  : 100%;

    margin       : -0.3rem;
    border-radius: 0.5rem;

    opacity   : 0;
    transition: opacity 0.2s;
}

.fake-checkbox .internal:after {

    content          : "";
    width            : 40%;
    height           : 60%;
    border           : solid white;
    border-width     : 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    transform        : rotate(45deg);
    margin-bottom    : 0.2rem;
    box-sizing       : border-box;
}

.checkbox-row input:checked~.fake-checkbox .internal {
    opacity: 1;
}

.checkbox-row input:checked:hover~.fake-checkbox .internal {
    background-color: rgb(59, 59, 59);
}

.checkbox-row input:checked:active~.fake-checkbox .internal {
    background-color: rgb(73, 73, 73);
}

/* #endregion */

/* #region Top Bar Styling */
#top-bar {
    width           : 100%;
    height          : 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    display         : flex;
    justify-content : center;
    flex-direction  : row;
    box-sizing      : border-box;
}

#top-bar-button {
    height          : 100%;
    aspect-ratio    : 1/1;
    background-color: transparent;
    border          : none;
    padding         : 0.25rem;
    text-decoration : none;
}

#top-bar-button:hover {
    opacity: 0.7;
}

#top-bar-button:active {
    opacity: 0.5;
}

#top-bar-button svg {
    height      : 1.5rem;
    aspect-ratio: 1/1;
}

#top-bar-button svg path {
    height      : 100%;
    aspect-ratio: 1/1;
    color       : #000000 !important;
    fill        : #000000 !important;
    stroke      : #000000 !important;
}

/* #endregion */

/* #region Content Styling */
#content {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    overflow      : scroll;
    overflow-x    : hidden;
    flex-grow     : 1;
    padding       : 0.5rem;
    box-sizing    : border-box;
}

#extended-content {
    display       : flex;
    flex-direction: column;
    box-sizing    : border-box;
    width         : calc(100% + 1rem);
    height        : 3rem;

    margin-top   : 0.5rem;
    margin-left  : -0.5rem;
    margin-right : -0.5rem;
    margin-bottom: -0.5rem;

    border-radius             : 0.5rem;
    border-bottom-right-radius: 0;

    flex-grow: 1;

    box-shadow: 0px 0px 10px 0px rgb(73, 73, 73);

    overflow: hidden;
}

#extended-content-internal {
    width     : 100%;
    padding   : 0.5rem;
    box-sizing: border-box;
}

/* #endregion */