/* #region Table Styling */
#com-limitlost-limiter-panel table,
#com-limitlost-limiter-panel tr,
#com-limitlost-limiter-panel td {
    border          : unset;
    outline         : unset;
    background-color: unset;
    background      : unset;
    padding         : unset;
    margin          : unset;
}

#com-limitlost-limiter-panel td {
    font-family: monospace;
}

#com-limitlost-limiter-panel button {
    font-family: unset;
    line-height: unset;
    height     : unset;
    font-size  : unset;
}

#com-limitlost-limiter-panel {
    font-family               : unset;
    color                     : black;
    display                   : flex;
    flex-direction            : column;
    position                  : fixed;
    left                      : 10%;
    top                       : 10%;
    resize                    : horizontal;
    z-index                   : 2147483647;
    border                    : 1px solid black;
    background-color          : rgba(230, 230, 230, 0.8);
    overflow                  : hidden;
    min-height                : 2rem;
    min-width                 : 3rem;
    border-radius             : 0.5rem;
    border-bottom-right-radius: 0;
}

#com-limitlost-limiter-panel.transition {
    transition: width 0.2s, height 0.2s;
}

/* #endregion */

/* #region Button Styling */

#com-limitlost-limiter-content button {
    background-color: rgba(225, 225, 225, 1);
    border          : none;
    border-radius   : 0.5rem;
    padding         : 0.5rem;
    text-decoration : none;
    color           : black;
    box-shadow      : 2px 6px 11px 0px rgb(73, 73, 73);
    font-size       : 0.9rem;
}

#com-limitlost-limiter-content button:hover {
    background-color: rgba(215, 215, 215, 1);
}

#com-limitlost-limiter-content button:active {
    background-color: rgba(205, 205, 205, 1);
}

/* #endregion */

/* #region Checkbox Styling */
.com-limitlost-limiter-fake-checkbox {
    width           : 1rem;
    height          : 1rem;
    border-radius   : 0.5rem;
    background-color: #ffffffab;
    display         : flex;
    align-content   : center;
    justify-content : center;
    padding         : 0.3rem;
}

.com-limitlost-limiter-checkbox-row input:hover~.com-limitlost-limiter-fake-checkbox {
    background-color: #ffffffe7;
}

.com-limitlost-limiter-checkbox-row input:checked~.com-limitlost-limiter-fake-checkbox {
    background-color: #191919c7;
}

.com-limitlost-limiter-checkbox-row input:checked:hover~.com-limitlost-limiter-fake-checkbox {
    background-color: #191919e7;
}

.com-limitlost-limiter-fake-checkbox:after {
    content    : "x";
    display    : block;
    width      : fit-content;
    height     : fit-content;
    font-family: monospace;
    font-size  : 1.5rem;
    text-align : center;
    line-height: calc(100% - 0.7rem);
    color      : #aeaeae;
}

.com-limitlost-limiter-checkbox-row input:checked~.com-limitlost-limiter-fake-checkbox:after {
    content: "";

    width            : 40%;
    height           : 60%;
    border           : solid white;
    border-width     : 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    transform        : rotate(45deg);
}

/* #endregion */

/* #region Top Bar Styling */
#com-limitlost-limiter-top-bar {
    width           : 100%;
    height          : 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    display         : flex;
    justify-content : center;
    flex-direction  : row;
    box-sizing      : border-box;
}

#com-limitlost-limiter-top-bar-button {
    height          : 100%;
    aspect-ratio    : 1/1;
    background-color: transparent;
    border          : none;
    padding         : 0.25rem;
    text-decoration : none;
}

#com-limitlost-limiter-top-bar-button:hover {
    opacity: 0.7;
}

#com-limitlost-limiter-top-bar-button:active {
    opacity: 0.5;
}

#com-limitlost-limiter-top-bar-button svg {
    height      : 1.5rem;
    aspect-ratio: 1/1;
}

#com-limitlost-limiter-top-bar-button svg path {
    height      : 100%;
    aspect-ratio: 1/1;
    color       : #000000 !important;
    fill        : #000000 !important;
    stroke      : #000000 !important;
}

/* #endregion */

/* #region Content Styling */
#com-limitlost-limiter-content {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    overflow      : scroll;
    overflow-x    : hidden;
    flex-grow     : 1;
    padding       : 0.5rem;
    box-sizing    : border-box;
}

#com-limitlost-limiter-extended-content {
    display       : flex;
    flex-direction: column;
    box-sizing    : border-box;
    width         : calc(100% + 1rem);
    height        : 3rem;

    margin-top   : 0.5rem;
    margin-left  : -0.5rem;
    margin-right : -0.5rem;
    margin-bottom: -0.5rem;

    border-radius             : 0.5rem;
    border-bottom-right-radius: 0;

    flex-grow: 1;

    box-shadow: 0px 0px 10px 0px rgb(73, 73, 73);

    overflow: hidden;
}

#com-limitlost-limiter-extended-content-internal {
    width     : 100%;
    padding   : 0.5rem;
    box-sizing: border-box;
}

/* #endregion */